<h2> All Greetups </h2>
<h4> <% @greetups.each do |greet| %> </h4>
<h5><a href="/greetups/<%= greet.id %>">#<%= greet.id %>: <%=greet.name%> - <%=greet.location%> created by <%= greet.user.name %></a></h5>
<br>
<% end %>
<br>
