<label> here are all of your meetups:</label>

<form action="/owners/<%=@user.id%>" method="POST">
    <label>Name:</label>

    <br></br>

    <input type="text" name="user[name]" id="user_name" value="<%=@user.name%>">

    <br></br>

    <label>Choose an existing pet:</label>

    <br></br>

    <%@meetups.each do |pet|%>
    <input type="checkbox" name="name[pet_ids][]" value="<%=meetup.id%>" id="<%=meetup.name%>"
        <%='checked' if @user.meetups.include?(meetup) %>><%=meetup.name%></input>
    <%end%>
    


<br></br>
<label>name:</label>
<input type="text" name="meetup[name]" id="meetup_name"></input>
<br></br>
<input type="submit" value="Update Meetup">
</form>